#!/bin/csh -f

#
# QTL note load configuration file
#

setenv NOTEMODE		load
setenv NOTEDATADIR	${DATALOADSOUTPUT}/mgi/qtl/noteload
setenv NOTEINPUTDIR	/mgi/all/wts_projects/8500/8528/DataLoad/qtl
setenv NOTEINPUTFILE	${NOTEINPUTDIR}/QTL_Text.load
setenv NOTELOG		${NOTEDATADIR}/QTL_Text.load.log
setenv NOTETYPE		"QTL Coordinate"
setenv NOTEOBJECTTYPE	Marker

