#!/bin/csh -f

#
# QTL note load configuration file
#

#source ./Configuration

setenv NOTELOAD		${DATALOAD}/noteload/mginoteload.py
setenv NOTEMODE		load
setenv NOTEDATADIR      /data/loads/mgi/qtl/noteload
setenv NOTEINPUTFILE    ${NOTEDATADIR}/QTL_CoordinatesTextInfo.txt
setenv NOTELOG          ${NOTEINPUTFILE}.log
setenv NOTETYPE		"QTL Coordinate"
setenv NOTEOBJECTTYPE	Marker

